.container {
  background-color: #2f8baf;
  margin: 0;
  padding-top: 15%;
  padding-left: 30%;
}
.task-card {
  text-align: center;
  padding: 10px;
  height: fit-content;
  width: 60%;
  background-color: white;
}

.task-field {
  height: 40px;
  width: 93%;
  margin: 0;
  border: 2px solid #eff0f0;
  box-shadow: none;
  font-size: x-large;
  padding: 8px;
}

.task-card-heading {
  color: blue;
  font-family: "Times New Roman";
  font-size: 7vh;
  padding: 10px;
}

.list-endline {
  border: 1px solid #eff0f0;
  width: 96.5%;
  margin-top: 20px;
}
